body{background-color: #010715;}
body{color: #eff1f5;}
nav a:hover{color: #37bf2f;}
nav a:hover{background-color: #667cac;}
a{color: #9a9d6f;}
h1{color: #eff1f5;}
nav{background-color: #1a253d;}
nav a{color: #9a9d6f;}
nav{padding: 10px}
nav {margin-bottom: 30px}
